
* {
    font-family: 'Roboto', sans-serif;
}

.caroImg {
    height: 300px;

}

  .carouselImage{
    width: 100%;
    height: 300px;
    border: 2px solid red;
    background-attachment: fixed;

  }
.bgcolor {
    background-color: #D8203B;
}

.card img{
    height: 150px;


}
.cardMargin{
    margin-left: 30px;
    margin-right: 30px;
}

.nav-link{
 color:black;
 
}

.bloodSection{
    background-color: azure;
    padding-top: 1px;
}

.bdgroup{
    margin-top: 20px;
}
.row .bloodgroup{
    background-color: #D8203B;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 7%;
    width: 24%;
    padding: 40px;
    FONT-SIZE: 30px;
}
.row .bloodgroup:last-child{
    margin-right: 0px;
}

/* .bloodgroup:hover{
  background-color: rgba(136, 59, 59, 0);
  color: #D8203B;
  transition-duration: 1s;
} */

.bloodgroup:hover{
  background-color: #532654;
  color: white;
  transition-duration: 1s;
}
.recentdonar{
    padding-top: 1px;
    padding-bottom: 2px;
    background-color: antiquewhite;
}
.social-link {
  text-align: center;
  
}
 .social-link ul li{
  list-style: none;
  text-align: justify;
}

.social-link ul li{
  margin-right: 15px;
  display: inline;
  /* background-color: red; */
  font-size: 20px;
}

/* .footer-social-link ul li:hover{
 color: white;
 background-color: #000;
} */

.social-link ul li a {
  font-size: 15px;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 7px;
  background-color: #D8203B;;
}
.social-link ul li a:hover{
  background-color: black;
  border:1px solid #D8203B;
 }
 
.formdesign{
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #d8c7e11c;
  box-shadow: 5px 5px 5px 5px #8f7f7f;
}
.formdesign .col{
  margin-top: 10px;
  margin-bottom: 10px;
}

.formdesign .col label{
  text-align: center;
  left: 30px;
}
.fmain li{
    list-style-type: none;
    position: relative;
    padding-left: 15px;
   
    /* font:black; */
  }
  
 .fmain li:before {
    content: "\25BA \0020";
    font-size: 10px;
    position: absolute;
    top: 5px;
    left: -10px;
  }

  .fmain li a{
    color: rgb(193, 197, 188);
    text-decoration: none;
    text-wrap: 3px;
  }

  .fmain li a:hover{
    color: #D8203B;
  }

  .footer-area{
    margin-top: 2px;
    padding-top: 10px;
    text-decoration: none;
    color: rgb(193, 197, 188);

  }

  .footer-area:first-child{
    text-align: center;
  }

  .address ul li, .footer-social-link ul li{
    list-style: none;
    text-align: justify;
  }
  .address ul li:hover{
    color: #D8203B;
  }
  .footer-social-link ul li{
    margin-right: 15px;
    display: inline;
    /* background-color: red; */
    font-size: 20px;
  }

  /* .footer-social-link ul li:hover{
   color: white;
   background-color: #000;
  } */

  .footer-social-link ul li a {
    font-size: 15px;
    border: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 7px;
    background-color: #D8203B;;
  }
  .footer-social-link ul li a:hover{
    background-color: black;
    border:1px solid #D8203B;
   }

   /* .cardgroup{
    padding: 4px;
    margin-bottom: 20px;
   }  */

   .cardgroup {
    padding: 66px;
    margin-bottom: 0px;
    padding-top: 2px;
   }

   .cardMargin{
    box-shadow: 15px 15px 30px #6d6a6a;
   }

   .footer-area{
    margin-top: 10px;
   }