
* {
    font-family: 'Roboto', sans-serif;
}

.caroImg {
    height: 300px;

}

.bgcolor {
    background-color: #D8203B;
}

.card img{
    height: 150px;


}
.cardMargin{
    margin-left: 30px;
    margin-right: 30px;
}

.nav-link{
 color:black;
 
}

.fmain li {
    list-style-type: none;
    position: relative;
    padding-left: 15px;
    /* font:black; */
  }
  
 .fmain li:before {
    content: "\25BA \0020";
    font-size: 6px;
    position: absolute;
    top: 5px;
    left: -10px;
  }